
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}


.row > [class*='col-1'] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

#page {
  transition: all 0.2s linear 0s;
  display: block;
  position: relative;
}

#page.active {
  position: fixed;
  margin-left: 300px;
  overflow-x: hidden;
  min-width: 100%;
}

#app-name {
  background-color: red;
}

#menu-icon {
  /*background-color: yellow;*/
  margin: auto;
}

#input-location {
  /*background-color: orange;*/
}

#list-search {
  /*background-color: green;*/
}

#address-input {
  /*width: 100%;*/
  background: url(../img/search-button-transparent.png) no-repeat scroll 0px 0px;
  padding-left: 30px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.close-icon {
  border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

#address-input:not(:valid) ~ .close {
	display: none;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#map {
  width: 100%;
  height: 100%;
  /*height: 100%;*/
}
